body {
  background-color: white;
  font-family: "Trebuchet MS", "Helvetica Neue", Arial, Sans-serif;
  color: #222222; }

h1 {
  font-weight: bold;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 2px;
  text-align: center;
  font-size: 32px; }

a, a:active, a:visited {
  color: #222222; }

a:hover {
  color: #aa0000; }

#scoreboard {
  text-align: center;
  padding: 0;
  padding-bottom: 12px; }

#canvases {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 300px; }

canvas {
  position: absolute;
  display: block;
  border: 1px dotted #333333; }

#overlay {
  z-index: 1;
  background-color: #333333;
  opacity: 0.2;
  display: none;
  width: 500px;
  height: 300px; }

#paused {
  text-align: center;
  font-size: 24px;
  position: relative;
  top: -180px; }

p {
  text-align: center;
  font-weight: normal;
  font-size: 11px; }

.red {
  background-color: red; }
